<mat-toolbar color="light" class="mat-elevation-z4" fxLayoutAlign="space-between center">
    <div fxLayoutAlign="space-between center" fxLayoutGap="20px">
        <button mat-icon-button (click)="toggleMenu()">
            <mat-icon class="menu-icon " aria-hidden="false" aria-label="menu icon">menu</mat-icon>
        </button>
    </div>
    <span color="primary"></span>
</mat-toolbar>
