.full-width{
  width: 100%;
}

.file{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 justify-items: flex-start;
 flex-wrap: wrap;
}

.file-upload{
  padding: 10px;
}

.fab-container{
  float: right;
  width: 20%;
}

.more-btn{
  float: right;
  margin: 10px;
}

.form{
  margin-top: 20px;;
  margin-bottom: 10px;
}
