<div>

  <mat-horizontal-stepper linear #stepper>
    <mat-step [stepControl]="customerForm">
      <form [formGroup]="customerForm">
        <ng-template matStepLabel>Customer Info</ng-template>
        <div>
          <mat-form-field class="full-width">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" placeholder="Last name, First name" required>
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-label>Address</mat-label>
            <input matInput formControlName="address" placeholder="Address" required>
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-label>Phone</mat-label>
            <input matInput formControlName="phone" placeholder="phone" required>
          </mat-form-field>
        </div>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="orderForm">
      <form [formGroup]="orderForm">
        <ng-template matStepLabel>Order Info</ng-template>
        <mat-form-field class="full-width">
          <mat-label>Order status</mat-label>
          <mat-select (selectionChange)="onstatusChange($event)" formControlName="status">
            <mat-option value="New">New</mat-option>
            <mat-option value="Order placed">Order placed</mat-option>
            <mat-option value="Delivered"> Delivered</mat-option>
            <mat-option value="Closed">Closed</mat-option>
          </mat-select>
        </mat-form-field>

        <div class="file">
          <div class="file-upload">
            <mat-label>Purchase Order</mat-label><br />
            <input type="file" (change)="onInputChange($event,0)" formControlName="purchaseOrder" accept=".pdf" />
          </div>
          <div class="file-upload">
            <mat-label>Invoice</mat-label><br />
            <input type="file" (change)="onInputChange($event,1)" formControlName="invoice" accept=".pdf" />
          </div>
          <div class="file-upload">
            <mat-label>Delivery Note</mat-label><br />
            <input (change)="onInputChange($event,2)" type="file" formControlName="deliveryNote" accept=".pdf" />
          </div>
        </div>

        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="orderItemsFormGroup" [formGroup]="form">
      <ng-template matStepLabel>Order Items</ng-template>
      <div formArrayName="items">
        <div *ngFor="let formGroup of items.controls; let i=index">
          <div [formGroupName]="i" class="form">
            <mat-card>
              <mat-form-field class="full-width">
                <mat-label>Item name</mat-label>
                <input matInput formControlName="name" placeholder="Last name, First name" required>
              </mat-form-field>

              <mat-form-field class="full-width">
                <mat-label>Price</mat-label>
                <input matInput formControlName="cost" type="number" placeholder="Price" required>
              </mat-form-field>

              <mat-form-field class="full-width">
                <mat-label>Quantity</mat-label>
                <input matInput formControlName="quantity" type="number" placeholder="Quantity" required>
              </mat-form-field>
            </mat-card>
          </div>
        </div>
      </div>
      <div class="fab-container">
        <button mat-fab class="more-btn" *ngIf="items.length>1" color="primary" aria-label="More items"
          (click)="removeFormGroup(items.length-1)">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-fab class="more-btn" color="primary" aria-label="More items" (click)="onMoreClick()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext (click)="onOrderItemNextClick()">Next</button>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="onPlaceOrder() ">Place Order</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>

</div>
