<mat-drawer-container class="content-section-main" autosize>
  <mat-drawer #drawer class="content-section side-menu mat-elevation-z2" mode="side">
    <app-side-menu></app-side-menu>
  </mat-drawer>
  <div class="content-section">
    <app-header class="top-header" (toggleClicked)="drawer.toggle()"></app-header>
    <div class="router-content">
      <router-outlet></router-outlet>
    </div>

  </div>
</mat-drawer-container>
