<div class="doc">
  <div class="doc-container" *ngIf="invoice">
    <h3>Invoice</h3>
    <iframe *ngIf="invoice" [src]="invoice | safe: 'resourceUrl'" allowfullscreen webkitallowfullscreen></iframe>
  </div>
  <div class="doc-container" *ngIf="purchaseOrder">
    <h3>Purchase Order</h3><br />
    <iframe [src]="purchaseOrder | safe: 'resourceUrl'" allowfullscreen webkitallowfullscreen></iframe>
  </div>
  <div class="doc-container" *ngIf="deliveryNote">
    <h3>Delivery Note</h3>
    <iframe [src]="deliveryNote | safe: 'resourceUrl'" allowfullscreen webkitallowfullscreen></iframe>
  </div>
</div>
