.doc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.doc-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 700px;
  height: 700px;
}

iframe{
  width: 100%;
  height: 100%;
}
