<mat-accordion>
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Customer Imformation
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="container">
      <form [formGroup]="userForm">
        <div class="row">
          <mat-form-field class="full-width">
            <mat-label>Customer Name</mat-label>
            <input formControlName="name" matInput placeholder="Andy x">
          </mat-form-field>
          <mat-form-field class="full-width">
            <mat-label>Address</mat-label>
            <input formControlName="address" matInput placeholder="123 Zk road bluff">
          </mat-form-field>
        </div>
      </form>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Order Information
      </mat-panel-title>
      <mat-panel-description>

      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="container">
      <form [formGroup]="orderForm">
        <div class="row">
          <mat-form-field class="full-width">
            <mat-label>Order status</mat-label>
            <mat-select formControlName="status">
              <mat-option value="New">New</mat-option>
              <mat-option value="Order placed">Order placed</mat-option>
              <mat-option value="Delivered"> Delivered</mat-option>
              <mat-option value="Closed">Closed</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="full-width">
            <mat-label>Order Date</mat-label>
            <input formControlName="date" matInput placeholder="2020/01/05">
          </mat-form-field>
        </div>
        <div class="row">
          <h2>Order lines </h2>
        </div>
        <div class="row">
          <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="product">
              <th mat-header-cell *matHeaderCellDef> Product Name</th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <ng-container matColumnDef="cost">
              <th mat-header-cell *matHeaderCellDef> Cost </th>
              <td mat-cell *matCellDef="let element"> {{element.cost}} </td>
            </ng-container>

            <ng-container matColumnDef="quantity">
              <th mat-header-cell *matHeaderCellDef> Quantity </th>
              <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
      </form>
    </div>
    <app-docs [invoice]="order?.invoice" [deliveryNote]="order?.deliveryNote" [purchaseOrder]="order?.purchaseOrder"></app-docs>
  </mat-expansion-panel>
</mat-accordion>
<button (click)="onBackClick()" class="back-btn" mat-button>Back</button>
