@mixin responsive-table {
  @media screen and (max-width: 500px) {
    .mat-table {
      border: 0;
      vertical-align: middle;
    }

    .mat-table caption {
      font-size: 1em;
    }

    .mat-table .mat-header-cell {
      clip: rect(0 0 0 0);
      position: absolute;
    }

    .mat-table .mat-row {
      display: block;
    }

    .mat-table .mat-cell {
      display: block;
      font-size: 1em;
      text-align: right;
      font-weight: bold;
      margin-left: 10px;
      margin-right: 10px;
    }

    .mat-table .mat-cell:before {
      content: attr(data-label);
      float: left;
      text-transform: uppercase;
      font-weight: normal;
      font-size: 0.85em;
    }

    .mat-table .mat-cell:last-child {
      border-bottom: 0;
      padding-right: 0px;
    }

    .mat-table .mat-cell:first-child {
      margin-top: 15%;
    }

    .mat-table .mat-cell:first-of-type {
      padding-left: 0px;
    }

    .paginator {
      margin-top: 20px;
    }
  }
}
