<h1 mat-dialog-title>Add Product Line</h1>
<div mat-dialog-content>
  <mat-form-field class="full-width">
    <mat-label>Product name</mat-label>
    <input matInput placeholder="Product name" [(ngModel)]="name">
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Cost</mat-label>
    <input matInput placeholder="Cost" type="number" [(ngModel)]="cost">
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Quantity</mat-label>
    <input matInput placeholder="Quantity" type="number" [(ngModel)]="quantity">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Close</button>

  <button mat-button  cdkFocusInitial (click)="onSave()">Save</button>
</div>
