.container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 50%;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.row{
  width: 100%;
  display: flex;
  flex-direction: row;
}

.btn-edit{
  float:right;
  margin-top: 20px;
}

table {
  width: 100%;
}

.fab{
  float: right;
  margin-top: 20px;
}

.back-btn{
  margin-top: 10px;
}

.file{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  flex-wrap: wrap;
 }

 .file-upload{
   padding: 10px;
 }
