<mat-accordion>
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Customer Imformation
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="container">
      <form [formGroup]="userForm">
        <div class="row">
          <mat-form-field class="full-width">
            <mat-label>Customer Name</mat-label>
            <input formControlName="name" matInput placeholder="Andy x">
          </mat-form-field>
          <mat-form-field class="full-width">
            <mat-label>Address</mat-label>
            <input formControlName="address" matInput placeholder="123 Zk road bluff">
          </mat-form-field>
        </div>
      </form>
    </div>
    <button (click)="onUpdateCustomer()" class="fab" mat-fab color="primary" aria-label="Save">
      <mat-icon>save</mat-icon>
    </button>
  </mat-expansion-panel>

  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Order Information
      </mat-panel-title>
      <mat-panel-description>

      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="container">
      <form [formGroup]="orderForm">
        <div class="row">
          <mat-form-field class="full-width">
            <mat-label>Order status</mat-label>
            <mat-select formControlName="status">
              <mat-option value="New">New</mat-option>
              <mat-option value="Order placed">Order placed</mat-option>
              <mat-option value="Delivered"> Delivered</mat-option>
              <mat-option value="Closed">Closed</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="full-width">
            <mat-label>Order Date</mat-label>
            <input formControlName="date" matInput placeholder="2020/01/05">
          </mat-form-field>
        </div>
        <div class="row">
          <form [formGroup]="documentsForm">
            <div class="file">
              <div class="file-upload">
                <mat-label>Purchase Order</mat-label><br />
                <input type="file" (change)="onInputChange($event,0)" formControlName="purchaseOrder" accept=".pdf">
              </div>
              <div class="file-upload">
                <mat-label>Invoice</mat-label><br />
                <input type="file" (change)="onInputChange($event,1)" formControlName="invoice" accept=".pdf">
              </div>
              <div class="file-upload">
                <mat-label>Delivery Note</mat-label><br />
                <input (change)="onInputChange($event,2)" type="file" formControlName="deliveryNote" accept=".pdf">
              </div>
            </div>
          </form>
        </div>
        <div class="row">
          <h2>Order lines </h2>
        </div>
        <div class="row">
          <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="product">
              <th mat-header-cell *matHeaderCellDef> Product Name</th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <ng-container matColumnDef="cost">
              <th mat-header-cell *matHeaderCellDef> Cost </th>
              <td mat-cell *matCellDef="let element"> {{element.cost}} </td>
            </ng-container>

            <ng-container matColumnDef="quantity">
              <th mat-header-cell *matHeaderCellDef> Quantity </th>
              <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
            </ng-container>

            <ng-container matColumnDef="delete">
              <th mat-header-cell *matHeaderCellDef>
                <button mat-raised-button (click)="onAddClick()" color="primary">Add</button>
              </th>
              <td mat-cell *matCellDef="let element">
                <button mat-button color="primary" (click)="onRemoveItem(element.id)">Delete</button>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
      </form>
    </div>
    <div>
      <app-docs [invoice]="order?.invoice" [deliveryNote]="order?.deliveryNote" [purchaseOrder]="order?.purchaseOrder">
      </app-docs>
    </div>
    <button class="fab" (click)="onUpdateOrder()" mat-fab color="primary" aria-label="Save">
      <mat-icon>save</mat-icon>
    </button>

  </mat-expansion-panel>
</mat-accordion>
<button (click)="onBackClick()" class="back-btn" mat-button>Back</button>
