<div class="header">
  <h2>Orders</h2>
  <mat-divider></mat-divider>
</div>
<div class="mat-elevation-z2">

  <table mat-table [dataSource]="orders" matSort matSortStart="desc" matSortActive="name" matSortDisableClear>
    <ng-container matColumnDef="orderId">
      <th mat-header-cell *matHeaderCellDef> OrderId</th>
      <td mat-cell *matCellDef="let order"> {{order.id}} </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
      <td mat-cell *matCellDef="let order"> {{order.orderDate}} </td>
    </ng-container>

    <ng-container matColumnDef="customer">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Customer Name </th>
      <td mat-cell *matCellDef="let order"> {{order.customerName}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let order"> {{order.status}} </td>
    </ng-container>

    <ng-container matColumnDef="view">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let order">
        <a [routerLink]="[order.id]">
          <mat-icon routerLink="" aria-hidden="false" aria-label="paid">visibility</mat-icon>
        </a>
      </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let order">
        <a [routerLink]="[order.id,'details']">
          <mat-icon routerLink="" aria-hidden="false" aria-label="paid">edit</mat-icon>
        </a>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef>
        <a routerLink="new" mat-raised-button color="primary">Add new</a>
      </th>
      <td mat-cell *matCellDef="let order">
        <a routerLink="" (click)="onDelete(order.id)">
          <mat-icon aria-hidden="false" aria-label="paid">delete</mat-icon>
        </a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator class="paginator" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>

<ng-container *ngIf="orders!==undefined&&orders.data.length===0">
  <div fxLayout="column wrap" fxLayoutAlign="space-around center">
    <h1>No Orders found</h1>
  </div>
</ng-container>
