@import '../../../../mixins.scss';
@include responsive-table;

table {
  width: 100%;
}

.back-btn {
  margin-top: 10px;;
}

#unpaid .material-icons{
  color: red;
}

#paid .material-icons{
  color: green;
}

.back-btn {
  margin-top: 20px;;
}

.header {
  margin-bottom: 20px;
}

a{
  text-decoration: none;
 color:#01579b;
}
